.App {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

input[type='text'] {
  padding: 5px;
  margin-right: 10px;
  width: 50%;
}

select {
  padding: 5px;
  margin-left: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}
